[*.cs]

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = warning

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = suggestion

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = warning
